CONTAINER_NAME=
POSTGRES_DB=
POSTGRES_ADMIN=
POSTGRES_PASSWORD=
POSTGRES_SUPERUSER=
POSTGRES_SUPERUSER_PASSWORD=
POSTGRES_PORT=
POSTGRES_HOST=
GRAFANA_USER=
GRAFANA_USER_PASSWORD=
GRAFANA_DASHBOARD_ADMIN=
GRAFANA_DASHBOARD_ADMIN_PASSWORD=