

# dbt
target/
dbt_packages/
logs/
.dbt/

# Python
__pycache__/
*.pyc
.env

# Backup
*.dump

# OS
.DS_Store
Thumbs.db

# Environnements virtuels
.venv/
venv/
ENV/
env/
*_env/
*-env/

# Données lliées au monitoring
data/data/